
<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control"  />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control"  />
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Login
        </button>
        <a routerLink="../register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>

<!--  <div class="container-sm">-->
<!--&lt;!&ndash;    <div th:if="${message != null}" class="alert alert-info" th:utext="${message}">message</div>&ndash;&gt;-->


<!--&lt;!&ndash;    <div th:if="${error != null}" class="alert alert-danger" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">&ndash;&gt;-->
<!--&lt;!&ndash;      error&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div class="container text-center " style="max-width: 400px">-->
<!--      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg mt-5">-->
<!--        <div class="row wrapper">-->
<!--          <h1>Login</h1>-->

<!--          <br/><br/>-->

<!--          <form [formGroup]="form" (ngSubmit)="onSubmit() " action="/login" >-->
<!--            <span id="welcometext">&nbsp;</span>-->

<!--            <br/><br/>-->
<!--            <label class="col-sm-4 d-flex justify-content-left">Email</label>-->
<!--            <span class="col-sm-8"><input class="form-control" type='text' name='username' value='' placeholder="Type your email"/></span>-->
<!--            <span class="focus-input100" data-symbol="&#xf206;"></span>-->

<!--            <br/>-->
<!--            <label class="col-sm-4 d-flex justify-content-left" >Password</label>-->
<!--            <span class="col-sm-8 "><input class="form-control" type='password' name='password' placeholder="Type your password"/></span>-->
<!--            <div class="d-flex justify-content-end">-->
<!--              <a class="btn btn-default" routerLink="@{/forgetPassword.html}">Reset Password</a>-->
<!--            </div>-->
<!--&lt;!&ndash;TODO link to the forget password&ndash;&gt;-->
<!--            <br/>-->
<!--            <div class="d-grid gap-2">-->
<!--&lt;!&ndash;              <input class="btn btn-primary d-grid gap-2" name="submit" type="submit"/>&ndash;&gt;-->
<!--              <button type="submit" class="btn btn-primary">Submit</button>-->
<!--            </div>-->
<!--            <label >Remember Me</label>-->
<!--            <input type="checkbox" name="remember-me"/>-->

<!--          </form>-->
<!--          <br/>-->
<!--          <br/>-->
<!--          <div class="mt-5 d-grid gap-2 mb-5"> <span class="text-left">Dont have account?</span><br/>-->
<!--            <a class="btn btn-primary" routerLink="/registration">Sign up</a></div>-->

<!--          <br/><br/>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

